<table class="table table-hover mt-4">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="table-body">
        {{#if users}}
            {{#each users}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{gender}}</td>
                    <td>{{tel}}</td>
                    <td>{{address}}</td>
                    <td>
                        <button
                            id="edit-btn"
                            class="btn btn-sm btn-primary"
                            onclick="editModal('{{id}}/{{name}}/{{gender}}/{{tel}}/{{address}}')"
                        >Edit</button>
                        <button
                            class="btn btn-sm btn-danger"
                            onclick="confirmRemoval({{id}})"
                        >Delete</button>
                    </td>
                </tr>
            {{/each}}
        {{/if}}

    </tbody>
</table>

<div class="modal fade" id="edit-modal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                >&times;</button>
            </div>
            <div class="modal-body">
                <form method="" action="" class="w-100 mx-auto px-3 pt-3">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input
                            value=""
                            name="name"
                            id="name"
                            type="text"
                            class="form-control"
                        />
                    </div>
                    <label>
                        Gender
                    </label>
                    <div class="form-row px-4">
                        <div class="form-check col">
                            <input
                                class="form-check-input"
                                type="radio"
                                value="Nam"
                                name="gender"
                                id="male"
                                checked
                            />
                            <label class="form-check-label" for="male">
                                Nam
                            </label>
                        </div>
                        <div class="form-check col">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="gender"
                                value="Nữ"
                                id="female"
                            />
                            <label class="form-check-label" for="female">
                                Nữ
                            </label>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="tel">Telephone</label>
                        <input
                            value=""
                            name="tel"
                            id="tel"
                            type="text"
                            class="form-control"
                        />
                    </div>
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input
                            name="address"
                            value=""
                            id="address"
                            class="form-control"
                        />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    id="delete-button"
                    class="btn btn-primary"
                    data-dismiss="modal"
                >Save</button>
                <button
                    type="button"
                    class="btn btn-default"
                    data-dismiss="modal"
                >Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function editModal(obj) {
        obj = obj.split("/");
        
        $('#name').val(obj[1]);
        $('#tel').val(obj[3]);
        $('#address').val(obj[4]);

        $('#edit-modal').modal({show: true});
    }

    function confirmRemoval(id) {
            $('#confirm-removal-modal').modal({show: true});

            $('#delete-btn').click(async () => {
                const response = await fetch("http://localhost:3000/admin/users/" + id, {
                    method: 'DELETE'})
            });
    }
</script>